:root{
    --primary-color:hsl(239, 84%, 67%);
    --link-color: hsl(212, 73%, 50%);
    --text-color:#333333;
    --background-color:#ffffff;
    --light-gray: #f0f0f0;
    --gray:#808080;
    --dark-gray:#555;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    text-decoration: none;
  }
  body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 1rem;
  }

  .header_content{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0.1rem;
  }
  .logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;
  }
  .logo-icon{
    height: 5.875rem;
    width: 1.938rem;
  }
  nav{
    display: none;
    gap: 1.5rem;
  }
  @media (min-width:768px){
    nav{
        display: flex;
    }
  }
 .nav-link{
    color: #718096;
    font-size: 1rem;
    font-weight: 600;
    transition: color 0.1s;
 }
 .nav-link:hover{
     color: var(--link-color);
 }
 .contact-button{
    display: none;
    font-size: 1rem;
    padding: 8px;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transition: all 0.1s;
    font-weight: 600;
 }
 @media(min-width:768px){
    .contact-button{
        display: block;
     }
 }
 .contact-button:hover{
     background-color: hsl(239, 78%, 63%);
 }
 .menu-button{
     display: none;
     border: none;
     border-radius: 0.375rem;
     background-color:var(--background-color);
     margin: 0 1px;
 }
 @media(max-width:768px){
    .menu-button{
     display: block;
  }
  }
 .menu-icon{
    height: 1.35rem;
    width: 1.35rem;
 }
.main-section{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 0.6rem;
    margin: 0 auto;
}
.content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
}
@keyframes slideFromLeft{
    0%{
        opacity: 0;
        transform:translate(-100%);
    }
    100%{
        opacity: 1;
    }
}
.section-lable{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}
.section-title{
    font-size: 2.2rem;
    padding: 0.5rem;
    color: var(--text-color);
}
.section-description{
    font-size: 1.1rem;
    color: var(--gray);
}
.button-group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}
.start-button,.tour-button{
    font-size: 1rem;
    padding: 8px;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    font-weight: 600;
}
.tour-button{
    background-color: var(--dark-gray);
}
.tour-button:hover{
    background-color: var(--gray);
}
.start-button:hover{
   
    background-color: #5254f8;
}
.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container{
    border: none;
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0,0,0,1);
    height: 50vh;
    position: relative;
}
.section-image{
    height: 100%;
    width: 100%;
}
@media(min-width:768px){
    .main-section{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .content-left{
        max-width: 50%;
        text-align: left;
    }
    .section-title{
        padding-left: 0;
    }
    .button-group{
        padding-left: 0;
        justify-content: start;
    }
    .section-lable{
        font-size: 1rem;
    }
   .section-container{
    height: 70vh;
   }
   .section-description{
    font-size: 1rem;
    color: var(--dark-gray);

   }

}
.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    animation: slideFromLeft 1s ease forwards; 
}
.company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    padding: 1rem;
    background-color: var(--light-gray);
    margin-top: 2rem;
    border-radius: 0.625rem;
    border: none;
    margin-bottom: 1.8rem;
    padding: 1.8rem 2.5rem;
   } 
.company-logo{
    display: flex;
    columns: var(--gray);
    gap: 0.5rem;
}
.svg-img{
    height: 1.56rem;
}
.logo-text{
    font-size: 1rem;
}
@media(min-width:768px){
    .company-grid{
        grid-template-columns: repeat(4,1fr);
    }
    .company-header{
        font-size: 2rem;
    }
}
.feature-container{
    background-color: var(--light-gray);
    padding: 2rem 0;
    text-align: center;
}
.feature-content{
    max-width: 800px;
    margin: 0 auto;
}
.main-info{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
}
.main-title{
    font-size: 2.15rem;
    font-weight: bold;
}
.main-description{
    max-width: 90%;
    color: var(--gray);
    font-size: 0.7rem;
}
.feature-grid{
    display: grid;
    row-gap: 0.1rem;
    gap: 1.5rem;
    grid-template-columns: repeat(2,1fr);
    margin-top: 1.5rem;
}
.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(221, 37%, 63%);
    padding: 1rem;
    border-radius: 1rem;
}
.icon-container{
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.feature-svg{
    width: 1.5rem;
    height: 1.5rem;
}
.feature-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feature-title{
    color: white;
    font-size: 1rem;
    gap: 0.7rem;
}
.feature-description{
    max-width: 80%;
    text-align: center;
    color: white;
    font-size: 0.6rem;
    padding-top: 0.3rem;
}
.feature-card:nth-child(1){
    background-color: #ff6289;
}
.feature-card:nth-child(2){
    background-color: hsl(162, 100%, 69%);
}
.feature-card:nth-child(3){
    background-color: hsl(287, 100%, 69%);
}
.feature-card:nth-child(4){
    background-color: hsl(85, 81%, 65%);
}
.feature-card:nth-child(5){
    background-color: hsl(200, 100%, 69%);
}
.feature-card:nth-child(6){
    background-color: hsl(112, 100%, 69%);
}
@media(max-width:768px){
    .feature-grid{
        grid-template-columns: repeat(1,1fr);
    }
}
.testimonial-container{
    background-color: var(--background-color);
    padding: 2rem;
    margin: 0 auto;
    max-width: 1280px;
}
.testimonial-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.testimonial-title{
    font-size: 1.875rem;
    font-weight: bold;
}
.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
    gap: 1rem;
}
.testimonial-card{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 2px solid black;
    box-shadow: 3px 2px 4px rgba(0,0,0,0.1);
    padding: 1rem;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
.testimonial-card:hover{
    transform: scale(1.022);
    box-shadow: 0 4px 8 px rgba(0,0,0,0.2);
    border: 1px solid blue;
}
.testimonial-avatar img{
    height: 5rem;
}
.testimonial-text{
    max-width: 90%;
    font-size: 0.87rem;
}
#testimnial-avatar-card4{
    width: 5rem;
    border-radius: 50%;
}
.testimonial-name{
    font-size: 1rem;
    color: var(--primary-color);
}
.testimonial-description{
    font-size: 0.8rem;
    color: var(--dark-gray);
}
.testimonial-detail{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.newsletter-container{
    background-color: var(--background-color);
    max-width: 1080px;
    height: 38vh;
    margin: auto;
}
.newsletter-content{
    display: flex;
    flex-direction: row;
    background-color: var(--light-gray);
    height: 100%;
    width: 100%;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
}
.news-left{
    display: none;
    inset: 0;
    width: 50%;
    position: relative; 
}
.news-left img{
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.news-right{
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0 2.5rem;
    justify-content: center;
    align-items: flex-start;
}
@media(min-width:640px){
    .news-left{
        display: block;
        width: 50%;
    }
    .news-right{
        width: 50%;
    }
    .newsletter-container{
        padding: 2rem;
    }
    .newsletter-content{
        padding: 0;
    }
}
.news-info .news-title{
    font-size: 1.4rem;
    color: var(--primary-color);
    text-align: left;
}
.news-description{
    text-align: left;
    font-size: 1rem;
    color: #777;
}
.news-form{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 0.6rem;

}
.news-email{
    background-color: var(--background-color);
    color: #333;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
}
.news-email:focus{
    border-color: #2563eb;
    box-shadow: 0 4px 4px rgba(0,0,0,0.3);
}
.news-send-button{
     background-color: var(--primary-color);
     color: var(--background-color);
     border: none;
     border-radius: 0.25rem;
     padding: 0.5rem 1rem;
}
.news-send-button:hover{
     background-color: var(--link-color);
}
.privacy-policy{
    font-size: 0.76rem;
   text-align: start;
    color: #777;
}
.news-link{
    text-decoration: none;
    color: #2563eb;
}
@media(min-width:648px){
    .news-info .news-title{
        font-size: 1.5rem;
    }
}
.footer-container{
   background-color: var(--bac);
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin:  0 auto;
   
}
.footer{
    max-width: 100%;
    padding:0 9rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 6rem;
    margin: 0 auto;
}
.footer-top{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.4rem;
    margin-top: -7rem;
    
}
.logo-svg{
    width: 2rem;
    height: 5.8rem;
}
.comp-logo{
    margin: 0;
}
.logo-link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: -1rem;
}
.comp-logo-text{
    font-size: 0.7rem;
    margin-bottom: -0.5rem;
    color: #777;
    text-align: left;
    max-width: 100%;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.social-icon{
    padding-right: 1.5rem;
    width: 1.3rem;
    height: 4.8rem;
}
.footer-grid{
    width: 40%;
    display: grid;
    justify-content: center;
 
    grid-template-columns: repeat(4 ,1fr);
    gap: 5rem;
    padding: 2rem 7rem;
}
.footer-grid-heading{
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--text-color);

}
ul{
    list-style-type: none;
}
.footer-links-list{
    margin-top: 1.6rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
}
.footer-link{
    color: #777;
    font-size: 0.86rem;
    text-align: center; 
}
.footer-copyright{
   color: var(--gray); 
   font-size: 0.75rem;
   padding-bottom: 2rem;
   padding-top: 1.5rem; 
   margin-top: 1.5rem;
   border-top: 1px solid #e5e7eb;

}
@media(max-width:1080px){
    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto 0;
        padding-top: 6rem;
        gap: 1rem;
        padding-bottom: 4rem;
    }
    .footer-grid{
        align-self: center;
        justify-content: center;
    }
}
@media(max-width:850px){
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
        justify-content:center;
    }
    .footer-top{
        margin-left:1.9rem;
        padding-top: 2rem;
    }
}  



